<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/styles.css">
    <title>to do list page </title>
</head>
<body>

    <div class="box" id="heading">
        <h1><%=currentpageTitle%></h1>
    </div>
    <div class="box">
        <% for (var n of currentPageTasks) { %>
            <div class="item">
                <input type="checkbox">
                <p class="item"><%= n %></p>
            </div>
        <% } %>
        <form action="/addtask" method="post" class="item">
            <input type="text" name="task" placeholder="inter new task" autocomplete="off">
            <button type="submit" name="button" value="<%=currentpageTitle%>">+</button>
        </form>
    </div>
    <div class="pages_box">
        <% let i=0 ; %>
        <% for (var n of pagesTitles) { %>
            <% if (currentpageTitle===n) { %>
                <div class="page active" data-num="<%=i%>">
                    <p class="item" data-num="<%=i%>"><%= n %></p>
                </div>
            <%}else {%>
            <div class="page" data-num="<%=i%>">
                <p class="item" data-num="<%=i%>"><%= n %></p>
            </div>
            <%}%>
            <% i++; %>
        <% } %>
        <form action="/addPage" method="post" class="item">
            <input type="text" name="page" placeholder="inter new page" autocomplete="off">
            <button type="submit" name="button" value="<%=currentpageTitle%>">+</button>
        </form>
    </div>
    <%- body %>
    <script src="JS/index.js"></script>
</body>
</html>